In [12]:
# importing
import pandas as pd

In [13]:
# read in the files
df_af = pd.read_csv("top10_country_affirmative.csv")
df_def = pd.read_csv("top10_country_defensive.csv")
df_ref = pd.read_csv("refugees.csv")

In [23]:
df_af = df_af.transpose()

In [26]:
df_af.columns = df_af.iloc[0]
df_af = df_af[1:]

In [33]:
df_af.rename(index={"country":"year"})

country,total,China,India,Venezuela,Nigeria,Mexico,Russia,Bangladesh,Nepal,Egypt,Guatemala
y_2012,8622,4227,189,108,12,52,167,30,331,275,80
rate_2012(%),71.7,78.6,59.4,53.2,54.5,26.9,70.8,66.7,75.4,93.9,23.3
y_2013,8020,3975,186,71,14,70,177,33,337,287,45
rate_2013,72.9,78.7,72.4,56.8,46.7,41.2,72.5,73.3,75.1,95.7,20.1
y_2014,6586,3531,185,75,16,50,120,14,241,232,46
rate_2014,74.9,78.6,77.7,71.4,66.7,32.1,76.4,77.8,71.7,95.1,34.8
y_2015,5289,3168,94,25,14,19,90,16,183,125,29
rate_2015,79.6,82.9,71.8,46.3,73.7,29.7,85.7,76.2,77.5,91.9,34.1
y_2016,4345,2599,70,17,12,26,65,30,171,120,22
rate_2016,81.9,85.7,73.7,60.7,92.3,29.2,83.3,78.9,80.7,91.6,42.3
y_2017,4048,2172,116,39,13,17,45,47,155,110,18
rate_2017,79.7,83.5,80.6,78.0,65.0,23.9,83.3,79.7,84.7,90.9,28.6
y_2018,4449,2019,183,59,9,20,79,96,180,130,29
rate_2018,74.0,76.8,74.1,77.6,41.0,15.9,81.4,69.6,79.3,84.4,24.2
y_2019,5886,2158,413,279,144,36,146,122,238,131,53
rate_2019,70.9,76.9,79.3,73.8,84.7,12.5,85.4,76.7,80.4,87.3,23.9
y_2020,4141,1306,326,357,127,14,122,106,151,95,31
rate_2020,66.6,79.0,74.3,64.3,75.6,5.9,82.4,72.1,81.2,81.2,16.3
y_2021,2444,581,160,243,127,19,78,55,90,62,31
rate_2021,66.6,80.9,76.2,70.0,79.9,10.3,87.6,79.7,86.5,80.5,23.1
y_2022,7503,2183,506,457,305,57,251,219,217,193,34
rate_2022,76.5,82.5,72.3,80.7,79.6,17.7,87.8,82.0,88.2,86.5,16.0

In [28]:
df_af.to_csv("affirmative.csv")

In [ ]:
# hand calculate the grant rate of each year of the top 10 countries and totals
# and enter into csvs based on TRAC numbers and the cleaned up csvs