In [1]:
import pandas as pd

In [2]:
df_af = pd.read_csv("asylum_affirmative.csv")
df_def = pd.read_csv("asylum_defensive.csv")
df_ref = pd.read_csv("refugees.csv")

In [3]:
# Replace not disclosed "D" with -1 and not applicable "X" with -2.
# "-" means 0, according to the documentation
df_af = df_af.replace({"D": -1, "-": 0, "X": -2})

In [4]:
df_af["2021"] = df_af["2021"].astype("float")
df_af["2020"] = df_af["2020"].astype("float")
df_af["2019"] = df_af["2019"].astype("float")
df_af["2018"] = df_af["2018"].astype("float")
df_af["2017"] = df_af["2017"].astype("float")
df_af["2016"] = df_af["2016"].astype("float")
df_af["2015"] = df_af["2015"].astype("float")
df_af["2014"] = df_af["2014"].astype("float")
df_af["2013"] = df_af["2013"].astype("float")
df_af["2012"] = df_af["2012"].astype("float")

In [5]:
df_def = df_def.replace({"D": -1, "-": 0, "X": -2, "NaN": -2})

In [6]:
df_def["2021"] = df_def["2021"].astype(float)
df_def["2020"] = df_def["2020"].astype(float)
df_def["2019"] = df_def["2019"].astype(float)
df_def["2018"] = df_def["2018"].astype(float)
df_def["2017"] = df_def["2017"].astype(float)
df_def["2016"] = df_def["2016"].astype(float)
df_def["2015"] = df_def["2015"].astype(float)
df_def["2014"] = df_def["2014"].astype(float)
df_def["2013"] = df_def["2013"].astype(float)
df_def["2012"] = df_def["2012"].astype(float)

In [7]:
df_ref = df_ref.replace({"D": -1, "-": 0, "X": -1})

In [8]:
df_ref["2021"] = df_ref["2021"].astype(float)
df_ref["2020"] = df_ref["2020"].astype(float)
df_ref["2019"] = df_ref["2019"].astype(float)
df_ref["2018"] = df_ref["2018"].astype(float)
df_ref["2017"] = df_ref["2017"].astype(float)
df_ref["2016"] = df_ref["2016"].astype(float)
df_ref["2015"] = df_ref["2015"].astype(float)
df_ref["2014"] = df_ref["2014"].astype(float)
df_ref["2013"] = df_ref["2013"].astype(float)
df_ref["2012"] = df_ref["2012"].astype(float)

In [15]:
df_af = df_af.sort_values(by="2021", ascending=False, na_position="last")
df_af.head(21)

,COUNTRY,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Total,16871.0,14890.0,14425.0,17807.0,11620.0,15815.0,24543.0,26979.0,16363.0,10325.0
102,Venezuela,920.0,599.0,297.0,460.0,315.0,471.0,5678.0,6111.0,3187.0,1596.0
21,"China, People's Republic",4622.0,4005.0,3896.0,2593.0,1409.0,2820.0,3763.0,3957.0,2808.0,1195.0
96,Turkey,29.0,25.0,5.0,17.0,11.0,15.0,473.0,1694.0,1525.0,1030.0
30,Egypt,2556.0,3065.0,2585.0,1512.0,682.0,1007.0,1382.0,2104.0,1303.0,654.0
39,Guatemala,291.0,215.0,320.0,1690.0,1269.0,1995.0,1300.0,1034.0,416.0,456.0
43,Honduras,132.0,103.0,87.0,1101.0,856.0,1078.0,811.0,514.0,248.0,419.0
77,Russia,534.0,342.0,217.0,303.0,199.0,276.0,735.0,1095.0,727.0,418.0
31,El Salvador,118.0,65.0,177.0,1853.0,1376.0,2105.0,1136.0,861.0,262.0,310.0
71,Nigeria,62.0,61.0,51.0,100.0,69.0,123.0,452.0,749.0,400.0,306.0
63,Mexico,280.0,196.0,464.0,651.0,442.0,479.0,724.0,789.0,491.0,303.0
33,Ethiopia,646.0,474.0,504.0,619.0,300.0,293.0,396.0,298.0,213.0,297.0
90,Syria,326.0,741.0,848.0,862.0,644.0,608.0,510.0,480.0,257.0,233.0
46,Iran,602.0,608.0,575.0,638.0,377.0,311.0,299.0,336.0,191.0,176.0
73,Pakistan,227.0,257.0,271.0,263.0,262.0,245.0,459.0,382.0,230.0,167.0
22,Colombia,282.0,165.0,226.0,245.0,73.0,74.0,312.0,281.0,278.0,162.0
47,Iraq,299.0,401.0,531.0,695.0,584.0,453.0,378.0,352.0,174.0,143.0
18,Cameroon,244.0,144.0,106.0,107.0,51.0,102.0,203.0,244.0,146.0,137.0
15,Burma,98.0,48.0,36.0,41.0,9.0,25.0,74.0,129.0,95.0,107.0
42,Haiti,621.0,433.0,469.0,357.0,105.0,62.0,174.0,183.0,151.0,104.0
1,Afghanistan,149.0,94.0,103.0,155.0,84.0,90.0,75.0,76.0,40.0,104.0

In [16]:
df_def = df_def.sort_values(by="2021", ascending=False, na_position="last")
df_def.head(21)

,COUNTRY,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Total,10575.0,9767.0,8636.0,8140.0,8693.0,10565.0,13197.0,18909.0,14601.0,7367.0
28,El Salvador,156.0,181.0,187.0,300.0,758.0,1343.0,1773.0,2321.0,1731.0,1149.0
35,Guatemala,192.0,149.0,164.0,363.0,631.0,953.0,1018.0,1545.0,1437.0,880.0
18,"China, People's Republic",5000.0,4510.0,3981.0,3585.0,3077.0,2731.0,3048.0,3459.0,1950.0,780.0
39,India,250.0,311.0,368.0,301.0,308.0,457.0,951.0,1929.0,1179.0,629.0
38,Honduras,73.0,93.0,151.0,303.0,620.0,956.0,1181.0,1291.0,1016.0,603.0
82,Venezuela,100.0,76.0,90.0,32.0,27.0,68.0,123.0,501.0,890.0,472.0
54,Mexico,117.0,154.0,105.0,200.0,456.0,551.0,631.0,802.0,719.0,367.0
58,Nicaragua,9.0,17.0,15.0,20.0,19.0,27.0,35.0,357.0,364.0,163.0
64,Russia,155.0,192.0,115.0,100.0,81.0,59.0,118.0,299.0,245.0,156.0
57,Nepal,379.0,385.0,282.0,250.0,260.0,290.0,470.0,606.0,308.0,143.0
15,Cameroon,150.0,136.0,110.0,92.0,114.0,219.0,312.0,659.0,591.0,142.0
59,Nigeria,26.0,29.0,59.0,64.0,66.0,70.0,53.0,194.0,154.0,130.0
6,Bangladesh,57.0,65.0,51.0,92.0,91.0,120.0,287.0,367.0,290.0,108.0
23,Cuba,6.0,6.0,9.0,11.0,7.0,62.0,161.0,711.0,1227.0,95.0
42,Iraq,91.0,52.0,79.0,52.0,26.0,45.0,74.0,105.0,94.0,73.0
29,Eritrea,331.0,234.0,162.0,138.0,151.0,238.0,271.0,320.0,122.0,72.0
27,Egypt,277.0,293.0,240.0,148.0,148.0,140.0,164.0,146.0,111.0,70.0
86,All other countries1,130.0,119.0,81.0,74.0,55.0,69.0,82.0,105.0,98.0,63.0
80,Ukraine,52.0,55.0,55.0,41.0,48.0,68.0,106.0,142.0,83.0,59.0
30,Ethiopia,406.0,387.0,317.0,252.0,185.0,155.0,121.0,181.0,74.0,59.0

In [17]:
df_ref = df_ref.sort_values(by="2021", ascending=False, na_position="last")
df_ref.head(21)

,COUNTRY,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Total,58179.0,69909.0,69975.0,69920.0,84989.0,53691.0,22405.0,29916.0,11840.0,11454.0
15,"Congo, Democratic Republic",1849.0,2545.0,4502.0,7823.0,16279.0,9325.0,7841.0,12875.0,2863.0,4876.0
53,Syria,31.0,48.0,132.0,1693.0,12583.0,6566.0,62.0,560.0,486.0,1255.0
1,Afghanistan,450.0,622.0,758.0,914.0,2743.0,1315.0,802.0,1197.0,603.0,874.0
59,Ukraine,377.0,235.0,493.0,1454.0,2526.0,4254.0,2637.0,4432.0,1935.0,802.0
7,Burma,14159.0,16295.0,14578.0,18323.0,12294.0,5047.0,3525.0,4928.0,2112.0,769.0
52,Sudan,1059.0,2137.0,1307.0,1576.0,1444.0,962.0,74.0,376.0,258.0,510.0
32,Iraq,12057.0,19331.0,19651.0,12608.0,9837.0,6857.0,140.0,462.0,541.0,500.0
21,El Salvador,0.0,0.0,0.0,0.0,364.0,1124.0,724.0,311.0,362.0,200.0
49,Somalia,4915.0,7579.0,9011.0,8852.0,9032.0,6122.0,257.0,230.0,149.0,196.0
22,Eritrea,1329.0,1763.0,1445.0,1576.0,1924.0,1912.0,1260.0,1750.0,475.0,185.0
31,Iran,1760.0,2579.0,2833.0,3099.0,3736.0,2575.0,41.0,198.0,135.0,182.0
8,Burundi,188.0,203.0,84.0,1218.0,729.0,304.0,219.0,259.0,53.0,134.0
45,Pakistan,274.0,155.0,239.0,159.0,546.0,347.0,444.0,266.0,169.0,128.0
50,South Sudan,-1.0,19.0,52.0,82.0,198.0,183.0,13.0,45.0,35.0,97.0
28,Honduras,0.0,0.0,0.0,0.0,84.0,104.0,59.0,74.0,90.0,83.0
23,Ethiopia,639.0,859.0,754.0,646.0,1147.0,791.0,387.0,258.0,119.0,75.0
43,Moldova,257.0,115.0,141.0,323.0,464.0,293.0,197.0,116.0,352.0,75.0
26,Guatemala,0.0,0.0,0.0,0.0,8.0,50.0,42.0,117.0,249.0,64.0
14,Colombia,125.0,214.0,243.0,504.0,523.0,231.0,127.0,298.0,219.0,50.0
47,Rwanda,161.0,143.0,60.0,186.0,169.0,122.0,121.0,104.0,14.0,47.0

In [12]:
df_af[df_af["2021"]==-1]

,COUNTRY,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
11,Bosnia and Herzegovina,8.0,5.0,3.0,6.0,-1.0,-1.0,10.0,10.0,5.0,-1.0
13,Bulgaria,18.0,13.0,18.0,12.0,4.0,5.0,7.0,11.0,8.0,-1.0
28,Dominican Republic,16.0,4.0,3.0,7.0,3.0,-1.0,5.0,15.0,12.0,-1.0
34,Fiji,17.0,10.0,20.0,4.0,7.0,5.0,-1.0,3.0,-1.0,-1.0
35,Gabon,6.0,0.0,6.0,3.0,0.0,-1.0,10.0,5.0,10.0,-1.0
54,Kuwait,6.0,8.0,6.0,14.0,7.0,11.0,15.0,8.0,5.0,-1.0
66,Montenegro,-1.0,3.0,3.0,4.0,-1.0,-1.0,6.0,16.0,7.0,-1.0
91,Tajikistan,24.0,23.0,20.0,18.0,18.0,7.0,21.0,14.0,12.0,-1.0
92,Tanzania,12.0,-1.0,10.0,3.0,3.0,5.0,9.0,6.0,5.0,-1.0
107,Unknown2,42.0,41.0,40.0,53.0,27.0,38.0,66.0,103.0,61.0,-1.0

In [13]:
df_def[df_def["2021"]==-1]

,COUNTRY,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Bolivia,7.0,4.0,-1.0,-1.0,0.0,-1.0,-1.0,11.0,-1.0,-1.0
16,Central African Republic,-1.0,8.0,-1.0,-1.0,-1.0,7.0,11.0,-1.0,-1.0,-1.0
17,Chad,25.0,4.0,7.0,-1.0,4.0,10.0,7.0,17.0,5.0,-1.0
24,Djibouti,5.0,9.0,-1.0,12.0,-1.0,11.0,6.0,10.0,6.0,-1.0
51,Libya,6.0,0.0,-1.0,0.0,5.0,5.0,-1.0,14.0,14.0,-1.0
78,Turkmenistan,9.0,-1.0,4.0,4.0,-1.0,4.0,8.0,12.0,5.0,-1.0

In [14]:
df_ref[df_ref["2021"]==-1]

,COUNTRY,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
9,Cambodia,6.0,30.0,45.0,-1.0,21.0,5.0,0.0,-1.0,0.0,-1.0
10,Cameroon,12.0,0.0,5.0,17.0,14.0,24.0,14.0,28.0,6.0,-1.0
18,Cuba,1948.0,4205.0,4063.0,1526.0,354.0,178.0,0.0,-1.0,7.0,-1.0
19,Ecuador,-1.0,16.0,9.0,18.0,6.0,-1.0,-1.0,0.0,0.0,-1.0
27,Guinea,0.0,8.0,9.0,4.0,5.0,6.0,10.0,10.0,-1.0,-1.0
29,India,17.0,15.0,26.0,23.0,92.0,53.0,32.0,-1.0,3.0,-1.0
30,Indonesia,-1.0,4.0,17.0,53.0,38.0,25.0,16.0,-1.0,-1.0,-1.0
55,Thailand,8.0,5.0,6.0,20.0,33.0,11.0,10.0,3.0,7.0,-1.0
60,Uzbekistan,139.0,49.0,68.0,42.0,37.0,35.0,27.0,11.0,8.0,-1.0
61,Venezuela,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,-1.0
62,Vietnam,41.0,69.0,68.0,22.0,55.0,20.0,10.0,10.0,12.0,-1.0
64,Zimbabwe,3.0,17.0,4.0,8.0,14.0,-1.0,11.0,-1.0,3.0,-1.0

In [18]:
df_af.to_csv("asylum_affirmative.csv", index=False)
df_def.to_csv("asylum_defensive.csv", index=False)
df_ref.to_csv("refugees.csv", index=False)